.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 72px;
  max-width: 1280px;
  margin: 0 auto;
}

.navbarLinks {
   display: flex;

}

.links{
    display: flex;
    list-style: none;
    gap: 24px;
}
.links li{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s ease;
}.links li:hover{
  color: #FD5A5E;
}


.navberImage{
  width:300pxpx;
  height: 50px;
}

.navberImage img{
  width: 100%;
  height: 100%;
}